<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <table *ngIf="posts" class="table table-responsive-lg table-hover">
    <thead>
      <th>title</th>
      <th>url</th>
      <th>created_at</th>
      <th>author</th>
    </thead>
      <tr
        *ngFor="let post of posts"
        (click)="openDialog(post)"
      >
        <td>{{post.title}}</td>
        <td>{{post.url}}</td>
        <td>{{post.created_at}}</td>
        <td>{{post.author}}</td>
      </tr>
  </table>
</div>
